body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    min-height: 700px;
}

button {
    border: none;
    padding: 10px 15px;
    background-color: purple;
    border-radius: 10px;
    box-shadow: 1px 1px 15px lightpink;
    cursor: pointer;
}

input {
    outline: none;
}

button:hover {
    box-shadow: 1px 1px 15px white;
}

img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}